  /*porperties by tags*/

body  {
margin: 0;
text-align: center;
font-family: 'Merriweather Sans', monospace, sans-serif;
}

h1  {
    color: #345B63;
    margin: 0;
    font-size: 5.62rem;
    position: relative;
    line-height: 2;
    font-family:  'Sacramento', sans-serif;

}
h2  {
    color:#345B63;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3  {
    color: #345B63;
    font-famlily: 'Montserrat', sans-serif;
}

p {
    line-height: 2.5;
}

hr  {
  border: dotted   grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 90px auto;
}

a {
  color:  #345B63;
  margin: 40px 20px;
  font-family: sans-serif;
  text-decoration: none;
}

a:hover {
  color: #E4F9F5;
}



    /*properies by classes, Below code. */


.top_container {
    background-color: #E4F9F5;
    padding-top: 100px;
}


.pro{
    font-weight: normal;
    font-size: 1.93rem;

}

.top_cloud  {
    position: relative;
    left: 20%;
    top: 20px;
}

.bottom_cloud {
    position: absolute;
    left: 25%;
}
.profile  {
    padding-top: 30px;
    width: auto 50% auto 50%;
}

.profile-img  {
  width:  240px;
}

.mountain  {
    position: relative;
    top: 10px;
}

.giphy_img {
    width: 20%;
    float: left;
    margin-right: 30px;

}

.pepper_img  {
  width: 20%;
  float: right;
  margin-left: 30px;
  height: 500px;
  width: 500px;
}

.Skills {
  width: 30%;
}

.skill-row  {
      width: 50%;
      margin: 100px auto 100px auto;
      text-align: left;
}

.bottom-container {
    background-color: #66BFBF;
    height: 100px;
  padding: 20px 0 30px;
  margin-top: 40px;
}

.footer-link  {
  line-height:  4;
    text-color: #11999E;
}

.contact-me {
  padding-bottom: 20px;
}

.copyright  {
  color:  #E4F9F5;
  font-size: 0.81rem;
  margin-top: 20px;
}

.hello-intro  {
    width: 25%;
    margin: auto;
}

.contact-message  {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #E4F9F5;
  background-image: -webkit-linear-gradient(top, #E4F9F5, #66BFBF);
  background-image: -moz-linear-gradient(top, #E4F9F5, #66BFBF);
  background-image: -ms-linear-gradient(top, #E4F9F5, #66BFBF);
  background-image: -o-linear-gradient(top, #E4F9F5, #66BFBF);
  background-image: linear-gradient(to bottom, #E4F9F5, #66BFBF);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 40px;
  text-shadow: 0px 1px 13px #1ccad6;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 7px 19px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #E4F9F5;
  background-image: -webkit-linear-gradient(top, #43ebf7, #14d9e0);
  background-image: -moz-linear-gradient(top, #43ebf7, #E4F9F5);
  background-image: -ms-linear-gradient(top, #43ebf7, #14d9e0);
  background-image: -o-linear-gradient(top, #E4F9F5, #14d9e0);
  background-image: linear-gradient(to bottom, #E4F9F5, #14d9e0);
  text-decoration: none;
}
